{% extends "layouts/layout.html" %}

{% block content %}
<div class="row">
  <div class="col-md-4 spotify-panel">
    {% include "partials/spotify_panel.html" %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          About this site
        </div>
      </div>
      <div class="panel-body">
        This website is so far just an aid for development. A properly-designed
        website is on the way!<br />
        <br />
        Feel free to check out some <a href="https://drive.google.com/open?id=0B7U_glV0MPfXeHdRa1Q1YUltdVk" target="_blank"><strong>Sketch mockups</strong></a>.
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          {% block panel_title %}
          Welcome
          {% endblock %}
        </div>
      </div>
      <div class="panel-body">
        {% block panel_body %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

