{% extends "layouts/layout.html" %}

{% block content %}
<div class="row">
  <div class="col-md-4 spotify-panel">
    {% include "partials/spotify_panel.html" %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          About this site
        </div>
      </div>
      <div class="panel-body">
        This website was just a temporary development aid.<br />
        <br />
        <a href="/v2">Click here</a> to go to the v2 website, which is still
        a work in progress.<br />
        <br />
        To see what it'll become, I've made some <a href="https://invis.io/M869CV9HV">interactive mockups</a>.
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          {% block panel_title %}
          Welcome
          {% endblock %}
        </div>
      </div>
      <div class="panel-body">
        {% block panel_body %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

