@import '../node_modules/bootstrap/less/bootstrap.less';
@import '../node_modules/bootstrap-csh/dev/members-flat.less';
@import 'variables.less';
@import 'nav.less';
@import 'cards.less';

body {
  font-family: @font-family-sans-serif;
  padding-top: 50px + @card-vertical-margin;
  cursor: default;
}

.container {
  width: @site-width;
  padding: 0;
}

