@import '../node_modules/bootstrap-csh/dev/members-flat.less';

/* General variables */

@brand-primary: @members-purple;

@body-bg-color: #d4d4d4;
@body-bg-color-mobile: #d4d4d4;
@card-bg-color: #FFFFFF;

@error-color: #D32F2F;

@spotify-color: #02BB4F;

@card-list-selected-bg-color: darken(@card-bg-color, 3%);
@card-list-hover-bg-color: darken(@card-bg-color, 8%);
@card-list-press-bg-color: darken(@card-list-hover-bg-color, 4%);

@nav-height: 50px;

@site-width: 590px;
@mobile-width: 500px;
@site-gutter: 10px;

@control-font-size: 13px;

/* Spinner */

@spinner-stroke-width: 3px;

/* Cards */

@card-vertical-margin: 30px;
@card-vertical-margin-mobile: 10px;

@card-border-radius: 3px;
@card-padding: 17px;
@card-padding-mobile: 11px;
@card-top-padding-mobile: 9px;
@card-button-padding: 10px;

/* Easings */

@swift-out: cubic-bezier(0.55, 0, 0.1, 1);

/* Override Bootstrap variables */

@body-bg: @body-bg-color;

@font-family-sans-serif: 'Roboto', sans-serif;
@font-family-base: @font-family-sans-serif;

@screen-sm-min: 591px - (@site-gutter * 2);

