@import '../node_modules/bootstrap-csh/dev/members-flat.less';

/* General variables */

@brand-primary: @members-purple;

@body-bg-color: #212121;
@card-bg-color: #FFFFFF;

@site-width: 560px;

/* Cards */

@card-border-radius: 3px;
@card-padding: 20px;

/* Override Bootstrap variables */

@body-bg: @body-bg-color;

@font-family-sans-serif: 'Open Sans', sans-serif;
@font-family-base: @font-family-sans-serif;

@screen-sm-min: @site-width;

