<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      Spotify Account
    </div>
  </div>
  <div class="panel-body">
    {% if authorized %}
    <strong>{{ sp_user_data.name }}</strong><br />
    ID: {{ sp_user_data.user_id }}<br />
    <br />
    {% if sp_user_data.image_url %}
    <img style="width: 200px;" src="{{ sp_user_data.image_url }}" /><br />
    <br />
    {% endif %}
    Access Token: <input value="{{ sp_access_token }}" style="width: 100%;" readonly /><br />
    <br />
    <a href="{{ base_url }}/forgettoken">Unpair Spotify Account</a>
    {% else %}
    <a class="spotify-log-in-btn" href="{{ auth_url }}">
      <img src="{{ base_url }}/images/spotify-log_in-desktop.svg" />
    </a>
    {% endif %}
  </div>
</div>

