<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      Spotify Account
    </div>
  </div>
  <div class="panel-body">
    {% if authorized %}
    <h3>{{ spotifyacct.getUsername }}</h3>
    {% if spotifyacct.avatar %}
    <img style="width: 200px;" src="{{ spotifyacct.getAvatar }}" /><br />
    <br />
    {% endif %}
    Access Token: <input value="{{ spotifyacct.getAccessToken }}" style="width: 100%;" readonly /><br />
    <br />
    <form action="{{ base_url }}/unpair/spotify" method="post">
      <input type="submit" value="Unpair Spotify Account" />
    </form>
    {% else %}
    <a class="spotify-log-in-btn" href="{{ auth_url }}">
      <img src="{{ base_url }}/images/spotify-log_in-desktop.svg" />
    </a>
    {% endif %}
  </div>
</div>

