<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      Spotify Account
    </div>
  </div>
  <div class="panel-body">
    {% if authorized %}
    <h3 style="margin-top: 0;">{{ spotifyacct.getUsername }}</h3>
    {% if spotifyacct.avatar %}
    <img style="width: 100%;" src="{{ spotifyacct.getAvatar }}" /><br />
    <br />
    {% endif %}
    Access Token: <input id="access-token" class="form-control" value="{{ spotifyacct.getAccessToken }}" style="width: 100%;" readonly />
    <br />
    <form action="{{ base_url }}/unpair/spotify" method="post">
      <input type="submit" class="btn btn-xs btn-warning" style="width: 100%;" value="Unpair Spotify Account" />
    </form>
    {% else %}
    <a class="spotify-log-in-btn" href="{{ auth_url }}">
      <img src="{{ base_url }}/images/spotify-log_in-desktop.svg" />
    </a>
    {% endif %}
  </div>
</div>

