body {
  background-color: #eee;
  background-image: url('../images/background.png');
  background-attachment: fixed;
  padding-top: 76px;
  padding-bottom: 20px;
}

.navbar-brand .logo {
  width: 24px;
  height: 23px;
  position: relative;
  top: -2px;
  display: inline;
}

.panel-title {
  font-weight: bold;
}

.panel-body {
  min-height: 80px;
}

.spotify-log-in-btn {
  display: block;
  width: 100%;
  text-align: center;
  transition: opacity 0.2s;
}

.spotify-log-in-btn:hover {
  opacity: 0.9;
}

.spotify-log-in-btn img {
  width: 200px;
}

.alert:empty {
  display: none;
}

label.btn {
  background-color: rgb(192, 192, 192);
}

