{% extends "layouts/cards.html" %}

{% block content %}
  <soapy-app>
    <about-card>
    {% include "app/about.card.html" %}
    </about-card>
    <noscript>
      <error-card>
        <h1>Javascript must be enabled.</h1>
      </error-card>
    </noscript>
  </soapy-app>
{% endblock %}

{% block data_bootstrap %}
  {% if playlist_api_data %}
    <script>
      window.bootstrap_data = window.bootstrap_data || {};
      window.bootstrap_data.playlists = {{ playlist_api_data | json_encode() | raw }};
    </script>
  {% endif %}
{% endblock %}

