@import '../variables.less';
@import 'base.less';


about-card {
  @collapsed-height: 78px;

  .card();

  padding: 0;
  position: relative;
  overflow-y: hidden;
  height: @collapsed-height;

  transition: height 0.3s @swift-out;

  .collapsed {
    height: @collapsed-height;
    position: relative;

    & > p {
      margin-right: 120px;
      padding: 15px 22px;
    }

    & > a {
      .card-action-button;
    }
  }

  .more {
    padding: 15px 0;
    margin: auto 20px;
    border-top: solid 1px fade(@brand-primary, 20%);
  }

  @media only screen and (max-width: @mobile-width) {
    @collapsed-height: 100px;

    height: @collapsed-height;

    .collapsed {
      height: @collapsed-height;

      & > p {
        margin-right: auto;
      }

      & > a.mdl-button {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: auto;
        border-radius: 0;
        text-align: right;
        padding: 0 11px;
      }
    }

    .more {
      margin-top: -20px;
      border-top: none;
    }
  }
}

