@import 'base.less';

account-card {
  @paired-card-height: 86px;

  .card();

  &.paired {
    @card-height: @paired-card-height;
    @text-left-margin: @card-height + @card-padding;

    & > :not(.paired) {
      display: none;
    }

    padding: 0;
    height: @card-height;
    position: relative;

    & > a {
      .card-action-button;
    }

    & > div.card-content {
      padding: 0;
      overflow: hidden;
      position: relative;
      height: @card-height;

      h1 {
        margin: 13px auto 7px 0;
        position: absolute;
        left: @text-left-margin;
      }

      .line-2 {
        .card-copy;

        display: block;
        position: absolute;
        left: @text-left-margin;
        top: 40px;
      }

      .image {
        background-color: darken(@card-bg-color, 5%);
        width: @card-height;
        height: @card-height;
        border-top-left-radius: @card-border-radius;
        border-bottom-left-radius: @card-border-radius;
        float: left;
        position: relative;
        overflow: hidden;
        background-size: cover;
      }
    }
  }

  &:not(.paired) {
    & > .paired {
      display: none;
    }

    h1 {
      text-align: center;
      margin-top: 0;
    }

    .login-container {
      height: 38px;
      margin: 17px auto;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      display: inline-block;

      a.spotify-login {
        .spotify-button();

        .spotify-logo {
          margin-left: -10px;
          margin-right: 5px;
          position: relative;
          bottom: 1px;
        }

        padding-top: 6px;
        font-size: 18px;
      }
    }
  }

  @media only screen and (max-width: @mobile-width) {
    &.paired {
      @card-height: @paired-card-height;
      @text-left-margin: @card-height + @card-padding-mobile;

      & > a.mdl-button {
        position: absolute;
        left: @card-height;
        right: 0;
        bottom: 0;
        top: auto;
        border-radius: 0;
        text-align: left;
        padding: 0 11px;
      }

      & > div.card-content {
        h1 {
          margin: @card-top-padding-mobile auto 7px 0;
          left: @text-left-margin;
        }

        .line-2 {
          .card-copy;

          display: block;
          position: absolute;
          left: @text-left-margin;
          top: 30px;
        }
      }
    }

    &:not(.paired) {
      .login-container {
        margin: 0;
      }
    }
  }
}

