@import (less) '../../node_modules/material-design-lite/material.min.css';
@import '../../node_modules/bootstrap/less/bootstrap.less';
@import '../variables.less';
@import '../ui-elements.less';

.card-copy() {
  font-size: 15px;
  font-weight: 300;
}

.card {
  .mdl-shadow--2dp;

  display: block;
  margin: 0 auto @card-vertical-margin auto;
  background-color: @card-bg-color;
  border-radius: @card-border-radius;
  padding: @card-padding;

  .sticky-header {
    background: #ffffff;
    position: -webkit-sticky;
    position: sticky;
    top: @nav-height;
    margin-left: -@card-padding;
    margin-right: -@card-padding;
    margin-top: -@card-padding;
    border-top-left-radius: @card-border-radius;
    border-top-right-radius: @card-border-radius;
    height: 55px;
    padding: @card-padding;
    z-index: 99;

    &.stickied {
      box-shadow: 0 2px 2px rgba(0,0,0,.3);
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  h1 {
    margin: 30px auto 20px auto;
    font-size: 19px;
    font-weight: 400;

    &:first-child {
      margin-top: 0;
    }

    &.centered {
      text-align: center;
    }
  }

  p {
    .card-copy;
  }

  .card-action-button() {
    text-align: right;
    position: absolute;
    right: @card-padding;
    top: @card-padding;

    &.mdl-button {
      top: @card-button-padding;
      right: @card-button-padding;
      padding: 0 13px;
    }
  }

  spinner {
    .spinner {
      @scale: 0.5;
      zoom: @scale;

      .path {
        stroke-width: @spinner-stroke-width / @scale;
      }
    }
  }

  @media only screen and (max-width: @mobile-width) {
    padding: @card-padding-mobile;
    padding-top: @card-top-padding-mobile;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: @card-vertical-margin-mobile;

    h1 {
      font-size: 16px;
    }

    .sticky-header {
      margin-left: -@card-padding-mobile;
      margin-right: -@card-padding-mobile;
      margin-top: -@card-top-padding-mobile;
      padding: @card-padding-mobile;
    }
  }
}

