@import (less) '../../node_modules/material-design-lite/material.min.css';
@import '../../node_modules/bootstrap/less/bootstrap.less';
@import '../variables.less';
@import '../ui-elements.less';

.card-copy() {
  font-size: 15px;
  font-weight: 300;
}

.card {
  .mdl-shadow--2dp;

  display: block;
  margin: 0 auto @card-vertical-margin auto;
  background-color: @card-bg-color;
  border-radius: @card-border-radius;
  padding: @card-padding;

  h1 {
    margin: 30px auto 20px auto;
    font-size: 19px;
    font-weight: 400;

    &:first-child {
      margin-top: 0;
    }

    &.centered {
      text-align: center;
    }
  }

  p {
    .card-copy;
  }

  .card-action-button() {
    text-align: right;
    position: absolute;
    right: @card-padding;
    top: @card-padding;

    &.mdl-button {
      top: @card-button-padding;
      right: @card-button-padding;
      padding: 0 13px;
    }
  }

  spinner {
    .spinner {
      @scale: 0.5;
      zoom: @scale;

      .path {
        stroke-width: @spinner-stroke-width / @scale;
      }
    }
  }
}

