@import 'base.less';

logs-card {
  .card();

  padding: 0;

  .realtime-checkbox-label {
    .button-checkbox;
  }

  .controls {
    width: 100%;
    padding: 7px;
    padding-bottom: 0;
  }

  .tabs-container {
    width: 100%;

    .nav-tabs {
      padding: 6px 6px 0 6px;

      li a {
        height: 35px;
      }
    }
  }

  .no-bathrooms {
    margin: 100px auto;
    text-align: center;
    font-size: 15px;
  }
}

