@import 'base.less';

playback-card {
  .card();

  position: relative;

  &.loading {
    .shuffle-btn,
    .tracks {
      display: none;
    }
  }

  &:not(.loading) {
    spinner {
      display: none;
    }
  }

  .shuffle-checkbox-label {
    .card-action-button;
    .button-checkbox;
  }

  .tracks {
    text-align: center;
    font-style: italic;
    padding: 40px 0;
  }
}

