@import 'base.less';

playlist-card {
  .card();

  position: relative;

  .expanded-title,
  .collapsed-title {
    margin-top: 0 !important;
  }

  .expanded-title {
    text-align: center;
  }

  .cancel-btn,
  .change-btn {
    .card-action-button;
  }

  .change-btn.mdl-button {
    @media only screen and (max-width: @mobile-width) {
      padding: 0 11px;
    }
  }

  ul {
    margin: -@card-padding;
    margin-top: 0px;
    padding: 0;
    padding-top: 2px;

    li {
      @playlist-image-size: 45px;
      @playlist-image-margin: 13px;
      @playlist-li-height: 60px;

      .make-row(0px);

      display: block;
      height: @playlist-li-height;
      position: relative;

      &.selected {
        background-color: @card-list-selected-bg-color;
      }

      &:hover {
        background-color: @card-list-hover-bg-color;
      }

      &:active {
        background-color: @card-list-press-bg-color;
      }

      &:last-child {
        @additional-bottom-padding: @playlist-image-margin * 0.5;
        border-bottom-left-radius: @card-border-radius;
        border-bottom-right-radius: @card-border-radius;
        height: @playlist-li-height + @additional-bottom-padding;

        a {
          padding-bottom: @additional-bottom-padding;
        }
      }

      a {
        text-decoration: none !important;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: row;

        &:link,
        &:visited,
        &:active,
        &:hover {
          color: @text-color;
        }

        .image-container {
          /* Ghost element for vertical centering */
          &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -0.25em;
          }

          .image {
            margin: auto 13px;
            background-color: fade(@brand-primary, 20%);
            background-size: cover;
            height: @playlist-image-size;
            width: @playlist-image-size;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            bottom: 1px;
          }
        }

        .title,
        .tracks {
          font-weight: 100;
          line-height: @playlist-li-height;
        }

        .title {
          font-size: 20px;
          font-weight: 100;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .tracks {
          .card-copy;

          flex-grow: 1;
          width: 70px;
          text-align: right;
          color: lighten(@text-color, 30%);
          white-space: nowrap;
          margin: auto 23px;
        }
      }
    }
  }
}

playlist-card:not(.collapsed) {
  .collapsed-title,
  .change-btn {
    display: none;
  }

  ul li {
    transition: background-color 0.18s;

    .mdl-ripple {
      background: fade(black, 20);
    }
  }

  @media only screen and (max-width: @mobile-width) {
    .sticky-header {
      @height: @nav-height + 5px;
      height: @height;
      padding: 0;

      h1 {
        line-height: @height;
      }
    }

    .expanded-title {
      margin-bottom: 10px;
    }

    .cancel-btn {
      position: absolute;
      top: 30px;
      left: 0;
      right: 0;
      text-align: center;
      border-radius: 0;
    }

    ul {
      margin: -@card-padding-mobile;
      margin-top: 0px;

      li {
        @playlist-li-height: 53px;

        height: @playlist-li-height;
        
        a {
          .title,
          .tracks {
            line-height: @playlist-li-height;
          }

          .title {
            font-size: 16px;
          }

          .tracks {
            font-size: 12px;
          }
        }
      }
    }
  }
}

playlist-card.collapsed {
  @collapsed-card-height: 86px;
  @text-left-margin: @collapsed-card-height + @card-padding;

  height: @collapsed-card-height;
  overflow: hidden;

  .sticky-header {
    display: none;
  }

  .collapsed-title,
  .change-btn {
    z-index: 2;
  }

  .collapsed-title {
    position: absolute;
    left: @text-left-margin;
  }

  li.selected {
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: @collapsed-card-height;
    background-color: @card-bg-color;

    .mdl-ripple {
      opacity: 0;
    }

    a {
      cursor: default;
      display: block;
      position: relative;
    }

    .image-container {
      .image {
        margin: 0;
        width: @collapsed-card-height + 1px;
        height: @collapsed-card-height + 1px;
      }
    }

    .title,
    .tracks {
      top: 24px;
    }

    .title {
      position: absolute;
      left: @text-left-margin;
      font-weight: 400;
    }

    .tracks {
      visibility: hidden;
    }
  }

  @media only screen and (max-width: @mobile-width) {
    .collapsed-title {
      top: @card-top-padding-mobile;
      left: @collapsed-card-height + @card-padding-mobile;
    }

    .change-btn {
      position: absolute;
      top: 50px; /* bottom:0 doesn't seem to work. */
      left: @collapsed-card-height;
      right: 0;
      text-align: left;
      border-radius: 0;
    }

    li.selected {
      .title,
      .tracks {
        font-size: 15px;
        position: absolute;
        left: @collapsed-card-height + @card-padding-mobile;
        top: 25px;
        font-weight: 200;
        line-height: 30px;
      }
    }
  }
}

playlist-card.cancelable:not(.collapsed) {
  @media only screen and (max-width: @mobile-width) {
    .sticky-header {
      height: 66px;
      padding: @card-padding-mobile;

      h1 {
        line-height: initial;
      }
    }

    .expanded-title {
      margin-bottom: 40px;
    }
  }
}

