@import 'base.less';

.user-rfid-card-base(@card-height, @text-left-margin) {
  .card();

  @light-grey: darken(@card-bg-color, 8%);

  & > a {
    .card-action-button;
  }

  padding: 0;
  overflow: hidden;
  position: relative;
  min-height: @card-height;

  h1 {
    &, &:first-child {
      margin: 13px auto 7px 0;
    }

    position: absolute;
    left: @text-left-margin;

    .subtitle {
      color: #929292;
      margin-left: 2px;
      font-size: 16px;
      font-weight: 100;
    }
  }

  .line-2 {
    .card-copy;

    display: block;
    position: absolute;
    right: @card-padding;
    top: @card-padding - 5px;
    color: #929292;
  }

  .no-chips {
    .card-copy;

    display: block;
    padding-top: 47px;
    padding-bottom: 15px;
    padding: 47px 10px 15px @text-left-margin;
    font-weight: 400;
  }

  .chips {
    /*position: absolute;*/
    padding-left: @text-left-margin - 3px;
    padding-top: 40px;
    padding-bottom: 4px;

    .mdl-chip {
      background-color: @light-grey;
      /*height: 22px;*/
      /*line-height: 22px;*/
      margin-right: 10px;
      margin-bottom: 5px;

      .mdl-chip__contact {
        position: relative;
        background-color: #d4d4d4;
        position: relative;

        .image {
          background-size: cover;
          background-position: center center;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
        }

        & > i {
          color: #929292 !important;
          font-size: 24px;
          line-height: 32px;
          text-align: center;
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
        }
      }

      .mdl-chip__text {
        /*font-size: 14px;*/
        /*font-weight: 100;*/
      }

      .mdl-chip__action {
        /*width: 14px;*/
        /*height: 14px;*/
        
        i {
          /*font-size: 15px;*/
        }
      }
    }
  }

  .avatar {
    position: relative;
    background-color: @light-grey;
    width: @card-height;
    height: @card-height;
    border-top-left-radius: @card-border-radius;
    border-bottom-left-radius: @card-border-radius;
    float: left;
    position: relative;
    overflow: hidden;

    .image {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-size: cover;
      background-position: center center;
    }
    
    i {
      font-size: 64px;
      line-height: @card-height;
      width: @card-height;
      text-align: center;
      color: #d4d4d4;
    }
  }

  .last-used {
    display: none;
  }

  .clock {
    display: inline;
    font-size: 13px;
    position: relative;
    top: 1px;
    margin-right: 2px;
  }

  @media only screen and (max-width: @mobile-width) {
    @text-left-margin: @card-height + @card-padding-mobile;

    & > a.mdl-button {
      position: absolute;
      left: @card-height;
      right: 0;
      bottom: 0;
      top: auto;
      border-radius: 0;
      text-align: left;
      padding: 0 11px;
    }

    .last-used {
      display: inline;
    }

    .clock {
      display: none;
    }

    & > div.card-content {
      h1 {
        margin: @card-top-padding-mobile auto 7px 0;
        left: @text-left-margin;
      }

      .line-2 {
        .card-copy;

        display: block;
        position: absolute;
        left: @text-left-margin;
        right: auto;
        top: 30px;
      }
    }
  }
}

user-card {
  @card-height: 86px;
  @text-left-margin: @card-height + @card-padding;

  .user-rfid-card-base(@card-height, @text-left-margin);
}

rfid-card {
  @card-height: 60px;
  @text-left-margin: @card-padding;
  @user-height: 30px;
  @user-avatar-size: 25px;

  .user-rfid-card-base(@card-height, @text-left-margin);

  h1 {
    .mdl-button {
      margin-left: 5px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .selecting-header,
  .inline-register-button {
    display: none;
  }

  &.no-suggested-users {
    .inline-register-button {
      display: inline-block;
    }

    .line-2 {
      top: 19px;
    }
  }

  &.selecting-user {
    .rfid-header,
    .line-2,
    .expand-chip,
    .pair-with-text {
      display: none;
    }

    .selecting-header {
      display: block;
    }
  }

  &.no-suggested-users:not(.selecting-user) {
    .chips {
      display: none;
    }
  }

  /*.users {*/
    /*margin-top: 45px;*/
    /*margin-bottom: 0;*/
    /*padding: 0;*/

    /*li {*/
      /*list-style: none;*/

      /*a {*/
        /*display: block;*/
        /*min-height: @user-height;*/
        /*position: relative;*/

        /*.image-container {*/
          /*padding: (@user-height - @user-avatar-size) / 2;*/

          /*.image {*/
            /*width: @user-avatar-size;*/
            /*height: @user-avatar-size;*/
          /*}*/
        /*}*/

        /*.name {*/
          /*color: black; [> TODO TMP <]*/
        /*}*/
      /*}*/
    /*}*/
  /*}*/
}

