<div class="collapsed">
  <p>
    Soapy lets you listen to your music in the dorm showers<br />
    with a tap of your rfid tag.
  </p>
  <a
    href="#"
    class="mdl-button mdl-js-button mdl-js-ripple-effect expand-btn"
    (click)="expand()"
    >Learn more</a>
</div>

<div class="more">
  <p>
    Drew Gottlieb started this project in the spring of 2015.<br />
    <a href="https://drive.google.com/open?id=1dm209j92HQtXiIEVkRiSVtIVZ2bBCVd0NnJlYBiv1xg" target="_blank">Here</a>
    is the original plan for the project.
  </p>
  <p>
    Follow it on Github <a href="https://github.com/dag10/Soapy" target="_blank">here</a>.
    Feel free to <a href="https://github.com/dag10/Soapy/issues" target="_blank">submit</a>
    bug reports or feature requests.
  </p>
</div>

