<div class="card-content paired">
  <div class="image" [ngStyle]="{'background-image': 'url(' + (image || '') + ')'}">
    <div class="image-slant"></div>
  </div>
  <h1>Your Spotify account is paired.</h1>
  <span *ngIf="numPlaylists !== null" class="line-2">{{ numPlaylists }} playlist<span *ngIf="numPlaylists != 1">s</span></span>
</div>

<a class="paired" (click)="unpair.emit(); false">Unpair</a>

<h1>
  Ready to jam? Let’s pair your Spotify Premium account.
</h1>

<a class="spotify-login" href="#" onclick="return false;">
  <div class="spotify-logo"></div>
  Log in with Spotify
</a>


