<div class="controls">
  <label
    class="mdl-button mdl-js-button mdl-js-ripple-effect realtime-checkbox-label"
    for="realtime-checkbox"
    >
    <label
      class="mdl-checkbox mdl-js-checkbox"
      [class.is-checked]="!isPaused"
      >
      <input
        type="checkbox"
        id="realtime-checkbox"
        class="mdl-checkbox__input realtime-checkbox"
        [checked]="!isPaused"
        (change)="toggleRealtime()"
        >
      <span class="mdl-checkbox__label">Realtime</span>
    </label>
  </label>
</div>

<div class="tabs-container" *ngIf="hasBathrooms">
  <ul class="bathroom-buttons nav nav-tabs" role="group">
    <li
      *ngFor="#bathroom of bathrooms"
      role="presentation"
      [class.active]="bathroom == currentBathroom"
      >
      <a
        class="btn btn-default"
        (click)="chooseBathroom(bathroom)"
        >
        {{ bathroom }}
      </a>
    </li>
  </ul>

  <spinner *ngIf="showSpinner"></spinner>

  <ul class="event-list">
    <li
      *ngFor="#event of events"
      >
      <span class="time">{{ event.DisplayTime }}</span>
      <span class="level-error" *ngIf="event.Level == 'ERROR'">E</span>
      <span class="level-warn" *ngIf="event.Level == 'WARN'">W</span>
      <span class="level-info" *ngIf="event.Level == 'INFO'">I</span>
      <span class="level-debug" *ngIf="event.Level == 'DEBUG'">D</span>
      <span class="level-verbose" *ngIf="event.Level == 'VERBOSE'">V</span>
      {{ event.Message }}
    </li>
  </ul>
</div>

<div *ngIf="!hasBathrooms">
  <div class="no-bathrooms">
    No logs found.
  </div>
</div>


