<h1>Your shower tracklist</h1>

<spinner></spinner>

<label
  class="mdl-button mdl-js-button mdl-js-ripple-effect shuffle-checkbox-label"
  for="shuffle-checkbox"
  >
  <label class="mdl-checkbox mdl-js-checkbox">
    <input
      type="checkbox"
      id="shuffle-checkbox"
      class="mdl-checkbox__input shuffle-checkbox"
      [checked]="playback?.shuffle"
      (change)="toggleShuffle()"
      >
    <span class="mdl-checkbox__label">Shuffle</span>
  </label>
</label>

<div class="tracks">
  Tracklist coming soon.
</div>

