<div class="sticky-header">
  <h1>Your shower tracklist</h1>

  <label
    class="mdl-button mdl-js-button mdl-js-ripple-effect shuffle-checkbox-label"
    for="shuffle-checkbox"
    >
    <label
      class="mdl-checkbox mdl-js-checkbox"
      [class.is-checked]="playback?.shuffle"
      >
      <input
        type="checkbox"
        id="shuffle-checkbox"
        class="mdl-checkbox__input shuffle-checkbox"
        [checked]="playback?.shuffle"
        (change)="toggleShuffle()"
        >
      <span class="mdl-checkbox__label">Shuffle</span>
    </label>
  </label>
</div>

<spinner *ngIf="!loaded"></spinner>

<div *ngIf="loaded" class="tracks">
  <div
    *ngIf="hasInvalidTracks || hasLocalTracks || tracklistIsIncomplete ||
           (selectedPlaylist?.tracks > 0 && !tracklistHasPlayableSongs)"
    class="tracklist-notice"
    >
    <div *ngIf="tracklistIsIncomplete">
      Only the first 100 tracks are available right now.
    </div>
    <div *ngIf="hasInvalidTracks">
      Some tracks are omitted due to errors.
    </div>
    <div *ngIf="hasLocalTracks">
      This playlist has songs that are stored locally on your computer,
      which are not playable by Soapy.
    </div>
    <div *ngIf="selectedPlaylist?.tracks > 0 && !tracklistHasPlayableSongs">
      This playlist has no playable songs.
    </div>
  </div>

  <div
    *ngIf="selectedPlaylist?.tracks == 0"
    class="no-tracks"
    >
    This playlist is empty.
  </div>

  <ul>
    <li *ngFor="#track of validTracklist" [class.unplayable]="track.local">
      <div class="position" *ngIf="!track.local">
        {{ track.displayedPosition }}
      </div>
      <div class="position" *ngIf="track.local">
        UNPLAYABLE
      </div>
      <span class="title">&ldquo;{{ track.title }}&rdquo;</span> by {{ track.artists[0] }}
    </li>
  </ul>
</div>

