<h1 class="collapsed-title">Shower playlist:</h1>

<div class="sticky-header">
  <h1 class="expanded-title">Choose a playlist for your next shower</h1>

  <a
    href="#"
    (click)="cancel()"
    class="mdl-button mdl-js-button mdl-js-ripple-effect cancel-btn"
    [class.hidden]="!cancelable">
    Cancel
  </a>
</div>

<a
  href="#"
  (click)="selectPlaylist(null)"
  class="mdl-button mdl-js-button mdl-js-ripple-effect change-btn">
  Switch playlist
</a>

<ul>
  <li
    *ngFor="#playlist of playlists"
    [class.selected]='playlist == formerlySelectedPlaylist'
    >
    <a
      class="mdl-js-button mdl-js-ripple-effect"
      href="#"
      (click)="selectPlaylist(playlist)"
      >
      <div class="image-container">
        <div
          class="image"
          [ngStyle]="{'background-image': 'url(' + (playlist.image || '') + ')'}"
          ></div>
      </div>
      <div class="title">
        {{ playlist.title }}
      </div>
      <div class="tracks">
        {{ playlist.tracks }} song<span *ngIf="playlist.tracks != 1">s</span>
      </div>
    </a>
  </li>
</ul>

