<h1 class="rfid-header">
  {{ rfid.rfid }}
  <button
    class="mdl-button mdl-js-button mdl-js-ripple-effect inline-register-button"
    (click)="expandUsersList()"
    >Register this fob</button>
</h1>

<div class="selecting-header">
  <h1>Who owns this fob?</h1>
  <div class="mdl-textfield mdl-js-textfield">
    <input
      class="mdl-textfield__input"
      type="text"
      [attr.id]="chipFilterId"
      [ngModel]="filterText"
      (ngModelChange)="setFilter($event)"
      (keydown)="filterKeyDown($event)"
      >
    <label class="mdl-textfield__label" [attr.for]="chipFilterId">
      Search for a user
    </label>
  </div>
  <button
    class="mdl-button mdl-js-button mdl-js-ripple-effect cancel-button"
    (click)="collapseUsersList()"
    >Cancel</button>
</div>

<span *ngIf="rfid.lastTap" class="line-2" title="{{ rfid.lastTap.fullText }}">
  <i class="material-icons clock">access_time</i>
  <span class="last-used">Last tapped</span>
  <span>{{ rfid.lastTap.fuzzyText }}</span><span class="last-used">.</span>
</span>

<div class="chips">
  <button
      *ngFor="#user of usersToShow"
      type="button"
      class="mdl-chip mdl-chip--contact"
      [class.highlighted]="user == highlightedUser"
      [attr.title]="user.ldap"
      (click)="pairWithUser(user.ldap)"
      >
    <div class="mdl-chip__contact">
      <i class="material-icons">face</i>
      <div
        *ngIf="user.avatar"
        class="image"
        style="background-image: url('{{ user.avatar }}');"
        ></div>
    </div>
    <span class="mdl-chip__text">
      <span class="pair-with-text">Pair with </span>
      {{ user.firstName }} {{ user.lastName }}
    </span>
  </button>
  <button
    *ngIf="users.length > suggestedUsers.length"
    type="button"
    class="mdl-chip expand-chip"
    (click)="expandUsersList()"
    >
    <span class="mdl-chip__text">Pair with someone else...</span>
  </button>
</div>

