<h1 class="rfid-header">
  {{ rfid.rfid }}
  <button
    class="mdl-button mdl-js-button mdl-js-ripple-effect inline-register-button"
    (click)="expandUsersList()"
    >Register this fob</button>
</h1>

<h1 class="selecting-header">Who owns this fob?</h1>

<span *ngIf="rfid.lastTap" class="line-2" title="{{ rfid.lastTap.fullText }}">
  <i class="material-icons clock">access_time</i>
  <span class="last-used">Last tapped</span>
  <span>{{ rfid.lastTap.fuzzyText }}</span><span class="last-used">.</span>
</span>

<div class="chips">
  <button
      *ngFor="#user of usersToShow"
      type="button"
      class="mdl-chip"
      [class.mdl-chip--contact]="user.avatar"
      (click)="pairWithUser(user.ldap)"
      >
    <img *ngIf="user.avatar" class="mdl-chip__contact" src="{{ user.avatar }}" />
    <span class="mdl-chip__text">
      <span class="pair-with-text">Pair with </span>
      {{ user.firstName }} {{ user.lastName }}
    </span>
  </button>
  <button
    *ngIf="users.length > suggestedUsers.length"
    type="button"
    class="mdl-chip expand-chip"
    (click)="expandUsersList()"
    >
    <span class="mdl-chip__text">Pair with someone else...</span>
  </button>
</div>

