<error-card [errors]="errors"></error-card>

<h1 *ngIf="!loading && unknownRFIDs.length > 0" class="first">
  Unregistered RFID fobs
</h1>

<rfid-card
  *ngFor="#rfid of unknownRFIDs"
  [rfid]="rfid"
  [users]="users"
  [suggestedUsers]="suggestedUsers"
  (expanded)="collapseOtherRfidCards($event)"
  (pair)="pairRFID(rfid.rfid, $event)">
</rfid-card>

<h1 *ngIf="!loading && users" [class.first]="unknownRFIDs.length === 0">
  Users
</h1>

<user-card
  *ngFor="#user of usersToDisplay"
  [user]="user"
  (unpairRFID)="unpairRFID($event)">
</user-card>

<button
  (click)="showAllUsers()"
  *ngIf="showShowHiddenUsersButton"
  class="mdl-button mdl-js-button mdl-js-ripple-effect"
  >
  Show users without Spotify accounts
</button>

<spinner *ngIf="loading"></spinner>

<snackbar></snackbar>

